<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
             <h3>EditListing</h3>
    <form method="POST" action="/listing/<%=listing._id%>/?_method=PUT">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
                  <input class="form-control" id="title" type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title">
  
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" placeholder="Enter description"><%= listing.description %></textarea> 

        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image URL</label>
        <input class="form-control" id="image" type="text" name="listing[image]" value="<%= listing.image %>" placeholder="Enter imgae URL">

        </div>
       <div class="row ">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input class="form-control" type="number" name="listing[price]" value="<%= listing.price %>" id="" placeholder="Enter Price">

        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" name="listing[location]" id="location" value="<%= listing.location %>" placeholder="Enter Location">

        </div>
       </div>
       
        <div class="mb-3">
            <label for="country">Country</label>
            <input class="form-control" type="text" name="listing[country]" id="country" value="<%= listing.country %>" placeholder="Enter Country">

        </div>
     
        <button type="submit" class="btn btn-dark mb-3">Edit</button>
    </form>
        </div>
    </div>
   
</body>
