<% layout('layouts/boilerplate') %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
             <h3>EditListing</h3>
    <form method="post" action="/listing/<%=listing._id%>/edit/?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
                  <input class="form-control" id="title" type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title" required>
            <div class="invalid-feedback">
                Title Required
            </div>
            <div class="valid-feedback">
                Looks good!
              </div>
        </div>
        
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="listing[description]" id="description" placeholder="Enter description" required><%= listing.description %></textarea> 
                    <div class="invalid-feedback">
                        Description Required
                    </div>
        </div>
        <div class="mb-3">
            <img src="<%= previewImage %>" alt="">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
        <input class="form-control" id="image" type="file" name="listing[image]" value="<%= listing.image %>" placeholder="Enter imgae URL">
        
        </div>
       <div class="row ">
         <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input class="form-control" type="number" name="listing[price]" value="<%= listing.price %>" id="" placeholder="Enter Price" required>
            <div class="invalid-feedback">
                Price Required
            </div>
        </div>
        <div class="mb-3 col-md-8">
            <label for="location" class="form-label">Location</label>
            <input class="form-control" type="text" name="listing[location]" id="location" value="<%= listing.location %>" placeholder="Enter Location" required>
            <div class="invalid-feedback">
                Location Required
            </div>
        </div>
       </div>
       
        <div class="mb-3">
            <label for="country">Country</label>
            <input class="form-control" type="text" name="listing[country]" id="country" value="<%= listing.country %>" placeholder="Enter Country" required>
            <div class="invalid-feedback">
                Country Required
            </div>
        </div>
     
        <button type="submit" class="btn btn-dark mb-3">Edit</button>
    </form>
        </div>
    </div>
   
</body>
