<% layout('layout/boilerplate') -%>
<body>
    <h3>Update Existing Listing</h3>
    <form method="POST" action="/listing/<%=listing._id%>/?_method=PUT">
        <input type="text" name="listing[title]" value="<%= listing.title %>" placeholder="Enter Title">
        <br>
        <br>
        <textarea name="listing[description]" id="" placeholder="Enter description"><%= listing.description %></textarea> 
        <br>
        <br>
        <input type="text" name="listing[image]" value="<%= listing.image %>" placeholder="Enter imgae URL">
        <br>
        <br>
        <input type="number" name="listing[price]" value="<%= listing.price %>" id="" placeholder="Enter Price">
        <br>
        <br>
        <input type="text" name="listing[location]" id="" value="<%= listing.location %>" placeholder="Enter Location">
        <br>
        <br>
        <input type="text" name="listing[country]" value="<%= listing.country %>" placeholder="Enter Country">
        <br>
        <br>
        <button type="submit">Add</button>
    </form>
</body>
