<% layout('layouts/boilerplate') -%>
<body>
    <div class="show">
        <div class="col-8 offset-3">
  <div class="show-h">
 <h3>Listing Details:</h3>
        </div>
        <div class="show-card">
            <div class="card" style="width: 18rem;">
                <img src="<%=listing.image %>" class="card-img-top" alt="listing_image" >
              </div>
        </div>
        <div class="show-desc">
            <div class="title">
                <p class="show-title"><b><%= listing.title %></b></p>
                <p>&#8377; <%= listing.price.toLocaleString("en-IN") %></p>
           <p class="col-6"><%= listing.description %></p>
           <%= listing.location%>
           <%= listing.country%>
            </div>
        </div>
        <div class="show_btn">
            <a class="btn btn-primary" href="/listing/<%= listing._id %>/edit">Edit</a>
    
    <form method="post" action="/listing/<%=listing._id %>/delete?_method=DELETE" >
        <button class="btn btn-danger">Delete</button>
    </form>
        </div>
        </div>
      
    </div>

   
    <br>
    <br>
    
    
    
</body>
